.homeSection {
  min-height: 103vh;
}
.some{
  height: 150px;
}
@media (min-width: 640px) and (max-width: 1400px) {
  .homeSection {
    min-height: 80vh;
  }
  .some{
    height: 50px;
  }
}
@media (max-width:640px){
  .some{
    display: none;
  }
}